.IntolerancePopUpContainer{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 4rem;
    width: 40vw;
    min-height: 40vh;
    z-index:10;
    background-color: #DDDDDD;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.PopUpTitle{
    color: var(--color-text-primary);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.ButtonsContainer{
    display: flex;
    width: 100%;
    gap: 1.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}