.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.HeroSection{
  display: flex;
  gap: 3rem;
}

.hero_text_container{
  padding-left: 5rem;
  padding-top: 10rem;
}

.HeroTitle{
  color: var(--color-text-primary);
  font-size: 3rem;
  font-weight: 600;
  width: 80%;
  margin-bottom: 1rem;
}
.HeroSubTitle{
  color: var(--color-text-secondary);
  font-size: 1.1rem;
  font-weight: 300;
  width: 80%;
  margin-bottom: 1rem;
}

.hero_Image_container{
  position: relative;
  overflow: hidden;
}

.hero_plate_image{
  position: absolute;
  right: 3rem;
  top: 9rem;
}